nav {
  position: fixed;
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #222;
}

nav > ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: middle;
  color: #fff;
  list-style: none;
}

body {
  font-family: Arial;
}

main {
  margin-top: 50px;
}

.author-seperator {
  opacity: 0.75;
}

.badge-verified {
  position: absolute;
  margin-top: -1px;
  margin-left: -6px;
  /*vertical-align: top;*/
  /*width: 12px !important;*/
}

.badge-verified > .fa-check {
  font-size: 75%;
}

.badge-verified > .fa-certificate {
  color: #00aced;
}

.rank-admin {
  color: lime;
  font-weight: bold;
}
